[Unit]
Description=whatphilipstores database (whatphilipruns)

[Container]
Image=docker.io/library/postgres:18-alpine
Environment=PGDATA=/var/lib/postgresql/data/pgdata
EnvironmentFile=/home/podman/postgres/.env
Volume=whatphilipstores.volume:/var/lib/postgresql/data
Network=internal.network
ContainerName=systemd-postgres

[Install]
WantedBy=default.target