HCLOUD_TOKEN='randomcharstring'

# Not strictly needed, jsut here for reference
GH_FG_PAT='github_pat_randomcharstring'
GH_PACK_TOKEN='ghp_randomcharstring'

POSTGRES_ROOT_PW = ''
TIMETRACKER_APP_PW = ''
TIMETRACKER_API_TOKEN = ''