[submodule "apps/timetracker"]
	path = apps/timetracker
	url = https://github.com/whatphilipcodes/timetracker.git
[submodule "apps/inferno"]
	path = apps/inferno
	url = https://github.com/whatphilipcodes/inferno.git
