[Unit]
Description=timetracking app (whatphilipruns)
After=postgres.service

[Container]
Image=timetracker:latest
ContainerName=timetracker
Network=internal.network
Network=web.network
EnvironmentFile=/home/podman/timetracker/.env
Exec=node ./dist/server/entry.mjs

[Service]
ExecStartPre=/usr/bin/podman run --rm --network systemd-internal --env-file /home/podman/timetracker/.env.migration timetracker:latest pnpm run db:migrate

[Install]
WantedBy=default.target