[Unit]
Description=timetracking app (whatphilipruns)
After=postgres.service

[Container]
Image=timetracker:latest
ContainerName=timetracker
Network=internal.network
Network=web.network
EnvironmentFile=/home/podman/timetracker/.env
Environment=HOST=0.0.0.0
Environment=PORT=3000
Exec=node ./dist/server/entry.mjs

[Install]
WantedBy=default.target