[Unit]
Description=reverse proxy (whatphilipruns)
After=network-online.target

[Container]
Image=docker.io/library/caddy:2.11-alpine
AutoUpdate=registry

Volume=caddy-data.volume:/data:Z
Volume=caddy-config.volume:/config:Z
Volume=%h/whatphilipruns/config/caddy/Caddyfile:/etc/caddy/Caddyfile:Z

Network=web.network
PublishPort=80:80
PublishPort=443:443

[Install]
WantedBy=default.target