[Unit]
Description=reverse proxy (whatphilipruns)
After=network-online.target

[Container]
Image=docker.io/library/caddy:2.11-alpine
AutoUpdate=registry
PublishPort=80:80
PublishPort=443:443
Volume=caddy_data.volume:/data:Z
Volume=caddy_config.volume:/config:Z
Volume=%h/whatphilipruns/config/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Network=web.network

[Install]
WantedBy=default.target