[Unit]
Description=machine learning inference service (whatphilipruns)
After=network-online.target init-shared-models.service
Requires=init-shared-models.service

[Container]
Image=ghcr.io/whatphilipcodes/inferno:latest
AutoUpdate=registry
ContainerName=systemd-inferno
Environment=MODEL_EMB=/weights/embedding/model_quint8_avx2.onnx
Environment=MODEL_GEN=/weights/generation/model_q4f16.onnx

Volume=shared-weights.volume:/weights:z
Network=internal.network

[Install]
WantedBy=default.target