[Unit]
Description=Initialize shared model weights
After=network-online.target

[Container]
Image=docker.io/curlimages/curl:latest
ContainerName=init-shared-models

User=root

Volume=%h/whatphilipruns/config/shared-weights/download.sh:/scripts/download.sh:ro,z
Volume=shared-weights.volume:/weights:z

Network=internal.network

Entrypoint=/bin/sh
Exec=/scripts/download.sh

[Install]
WantedBy=default.target