[Unit]
Description=whatphilipstores database (whatphilipruns)

[Container]
PublishPort=127.0.0.1:5432:5432
Image=postgres.build
ContainerName=systemd-postgres
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=postgres
Secret=postgres_root_password,type=env,target=POSTGRES_PASSWORD
Secret=timetracker_app_password,type=env,target=DB_PASSWORD_APP
Volume=whatphilipstores.volume:/var/lib/postgresql
Volume=%h/whatphilipruns/config/postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh:Z
Network=internal.network

[Install]
WantedBy=default.target