[Unit]
Description=migrate timetracker tables (whatphilipruns)
After=postgres.service
Requires=postgres.service

[Container]
Image=ghcr.io/whatphilipcodes/timetracker:latest
ContainerName=timetracker-migrator

Network=internal.network

Environment=DB_HOST=systemd-postgres
Environment=DB_NAME=whatphilipstores_db
Environment=DB_PORT=5432
Environment=DB_SCHEMA=timetracking
Environment=DB_USER=postgres

Secret=postgres_root_password,type=env,target=DB_PASSWORD

Exec=node bin/migrate.mjs

[Service]
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=default.target