[Unit]
Description=timetracking app (whatphilipruns)
After=timetracker-migrator.service
Requires=timetracker-migrator.service

[Container]
Image=ghcr.io/whatphilipcodes/timetracker:latest
AutoUpdate=registry
ContainerName=timetracker

Environment=DB_HOST=systemd-postgres
Environment=DB_NAME=whatphilipstores_db
Environment=DB_PORT=5432
Environment=DB_SCHEMA=timetracking
Environment=DB_USER=timetracker
Environment=INF_URL=http://systemd-inferno:8000

Secret=timetracker_app_password,type=env,target=DB_PASSWORD
Secret=timetracker_api_token,type=env,target=API_ACCESS_TOKEN

Network=internal.network
Network=web.network

[Install]
WantedBy=default.target