[Unit]
Description=sentence vectorizer service (whatphilipruns)
After=network-online.target

[Container]
Image=ghcr.io/whatphilipcodes/vectorizer:latest
AutoUpdate=registry
ContainerName=systemd-vectorizer
Network=internal.network

[Install]
WantedBy=default.target