[Unit]
Description=Timetracker Application
After=postgres.service

[Container]
Image=timetracker:latest
ContainerName=timetracker
Network=internal.network
Network=web.network
Environment=HOST=0.0.0.0
Environment=PORT=3000
Environment=DATABASE_URL=postgresql://postgres_user:postgres_password@postgres:5432/user_database?schema=timetracker
Exec=node ./dist/server/entry.mjs

[Install]
WantedBy=default.target