[Unit]
Description=sentence vectorizer service (whatphilipruns)
After=network-online.target

[Container]
Image=vectorizer:latest
ContainerName=systemd-vectorizer
Network=internal.network

[Install]
WantedBy=default.target